nav {
    .banner {
        color: white;
        background-color: $primaryColor;

        div {
            @include container;
            display: flex;
            justify-content: end;
            gap: 40px;

            font-size: 12px;
            font-weight: bold;
        }
    }

    .items {
        @include container;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        height: 115px;

        background-color: white;
        
        #logo {
            height: 80px;
        }
        
        ul {
            display: flex;
            gap: 40px;
            list-style-type: none;

            .tabs {
                display: flex;
                align-items: center;
                height: 115px;

                font-weight: bold;
                text-transform: uppercase;
                color: $secondaryColor;
                border-bottom: 5px solid transparent;
                cursor: pointer;

                &:hover {
                    color: $primaryColor;
                    border-bottom: 5px solid $primaryColor;
                }
            }
        }
    }
    
}